body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url('fundo-inicial.webp');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
}

header {
    background-color: #f6f0f0;
    color: #fff;
    padding: 20px;
    text-align: center;
    background-image: url('Captura\ de\ tela\ 2024-05-15\ 193450.png');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto; /* Isso centraliza horizontalmente */
}

label {
    margin-bottom: 5px;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}